.facilitiesImage{
    width: 35px;
}

#streetaddress{
    margin-left: 10px;
    text-decoration: underline;
}

.fav{
    width: 15px;
    margin-right: 1px;
}

.bigImage{
    width: 650px;
    height: 400px;
}

.image2{
    width: 310px;
    height: 189px;
}

#btnContactHost{
    border: 1px solid gray;
}

#hostSymbol{
    width: 100px;
    height: 100px;
}

#hostName{
    margin-top: 30px;
    

}