#propertyCard{
    border: none;
}

#propertyImage{
    width: 400px;
    height: 300px;
    border-radius: 10%;
}

#propertyTitle{
    white-space: nowrap;
    font-size: 110%;
}

#propertyButton{
    width: 200px;
}

#houseCapacity{
    font-size: 80%;
    white-space: nowrap;
}

#houseFacilities{
    font-size: 90%;
    white-space: nowrap;
}

#propertyType{
    white-space: nowrap;
    font-size: 100%;
}

#priceProperty{
    font-size: 100%;
    float: right;}

.titleLink{
    text-decoration: none;
    color: inherit;
}

.titleLink:hover{
    color: red;
}

.fav{
    width: 15px;
    margin-right: 1px;
}

#reviewText{
    font-size: bold;
}

#ratingText{
    font-size: 90%;
    white-space: nowrap;

}

#priceT{
    font-weight: bold;
    margin-left: 20px;
}

#price{
    font-size: 120%;
}

#night{
    font-size: 120%;

}