.title{
  text-align: center;
}

textarea#description{
  height:60px;
}

#propBackground{
  background-image: repeating-linear-gradient(#e37988,#E61E4F,#E31C5F,#E61E4D,#E61E4D,#e37988);
}

#textHeading{
  position: relative;
  top: 380px; 
  left: 15px;
  padding: 30px;
  color: white;
  font-weight: bold;
  font-family: 'Goudy Bookletter 1911',Georgia,"Times New Roman",serif;
}

.value-button {
  display: inline-block;
  border: 1px solid #ddd;
  margin: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  vertical-align: middle;
  padding: 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input#numberBeds {
  text-align: center;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input#numberGuests {
  text-align: center;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input#numberBath {
  text-align: center;
  border: 1px solid #ddd;
  display: inline-block;
  margin: 0px;
  width: 40px;
  height: 40px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.value-button:hover {
  cursor: pointer;
}

.subButton{
  align-items: center;  
}

.featureInput{
  margin-right: 10px;
}

#TitleerrorMsg{
  display: none; 
  color: red;
}

#PriceerrorMsg{
  display: none; 
  color: red;
}

#DescerrorMsg{
  display: none; 
  color: red;
}

#ApterrorMsg{
  display: none; 
  color: red;
}

#SpaceerrorMsg{
  display: none; 
  color: red;
}

#StateerrorMsg{
  display: none; 
  color: red;  
}

#CityerrorMsg{
  display: none; 
  color: red;   
}

#StreeterrorMsg{
  display: none; 
  color: red;   
}

#ZiperrorMsg{
  display: none; 
  color: red;   
}

#GuesterrorMsg{
  display: none; 
  color: red;   
}

#BederrorMsg{
  display: none; 
  color: red;   
}

#BatherrorMsg{
  display: none; 
  color: red;   
}

#description{
  height: 150px;
}

#saveChanges{
  color: white;
  font-weight: bold;
}

#cancelButton{
  font-weight: bold;
  border: 1px solid black;
}