#price{
    font-weight: bold;
    font-size: 150%;
}

#rating{
    font-weight: bold;
    font-size: 98%;
}

#night{
    font-size: 120%;
}

#reviews{
    text-decoration: underline;
    font-size: 98%;
}

#reviewAndRatingSection{
    float: right;
}

#btnReserve{
    background-color: #eb4e63;
    color: white;
    font-weight: bold;
    width: 300px;
}

#cardNumberOfPeopleSection{
    padding: 40px;
}

#guestDropdown{
    width: 300px;
    text-align: center;
}

#calendarSection{
    padding: 20px;
    
}

label{
    font-weight: bold;
    font-size: 90%;
}

#totalCost{
    float: right;
    font-weight: bold;
}