#signUpComponent {
    background: #eb4e63;
    }
    
    .btn-login {
      font-size: 0.9rem;
      letter-spacing: 0.05rem;
      padding: 0.75rem 1rem;
      background-color: white;
      border-color: white ;
      color: #eb4e63;
    }
    .btn-login:hover{  
      background-color: #367bfa;
      border-color: #367bfa ;
    }
    
    #floatingInput{
      height: 60px;
    }
    
    .btn-google {
      color: white !important;
      background-color: #ea4335;
    }
    
    .btn-facebook {
      color: white !important;
      background-color: #3b5998;
    }

    #signup{
      background-color: #eb4e63;
      width: 250px;
      color: white;
      margin-top: 10px;
      font-weight: bold;
      width: 100%;
      border: 1px solid white;
    }

    #errorMsgPassword{
        display: none; 
        color: red;
      }
  
    /* Do not use GLOBAL classes - REMOVE */
    /* #loginbox{
      background: linear-gradient(to right, #ec586c, #f34c54);
        border-radius: 30px;
        box-shadow: 12px 12px 22px;
}  */