.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }

  #NameerrorMsg{
    display: none; 
    color: red;
  }

  #FullNameerrorMsg{
    display: none; 
    color: red;
  }

  #ZiperrorMsg{
    display: none; 
    color: red;
  }

  #StateerrorMsg{
    display: none; 
    color: red;
  }

  #CityerrorMsg{
    display: none; 
    color: red;
  }

  #EmailerrorMsg{
    display: none; 
    color: red;
  }

  #CCerrorMsg{
    display: none; 
    color: red;
  }

  #CvcerrorMsg{
    display: none; 
    color: red;    
  }

  #MerrorMsg{
    display: none; 
    color: red;     
  }

  #payment{
    white-space: nowrap;
    font-weight: bold;
    background-color: #eb4e63;

  }

  #propertyView.card-img-top{
    /* height: 300px;
    width: 250px; */
    float: right;
  }

  #saveChanges{
    color: white;
    font-weight: bold;
  }
  
  #cancelButton{
    font-weight: bold;
    border: 1px solid black;
  }

  #modal-body{
    font-weight: bolder;
  }

  #propertyDiv{
    background-size: auto;
  }

  #attribute{
    float: right;
    font-size: 18px;
    font-style: italic;
  }

  #attributeLabel{
    font-size: 18px;
  }