.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }

  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }

  #NameerrorMsg{
    display: none; 
    color: red;
  }

  #FullNameerrorMsg{
    display: none; 
    color: red;
  }

  #ZiperrorMsg{
    display: none; 
    color: red;
  }

  #StateerrorMsg{
    display: none; 
    color: red;
  }

  #CityerrorMsg{
    display: none; 
    color: red;
  }

  #EmailerrorMsg{
    display: none; 
    color: red;
  }

  #CCerrorMsg{
    display: none; 
    color: red;
  }

  #CvcerrorMsg{
    display: none; 
    color: red;    
  }

  #MerrorMsg{
    display: none; 
    color: red;     
  }