.btn-link {
    color: rgb(11, 11, 11);
}

#search-addon{
    height: 38px;
}

.btn-link:hover {
    color: white;
}

.input-group-text:hover{
/* background-color: rgb(234, 66, 128); */
background: linear-gradient(0.25turn, #f14b93, #f24c6d);
}
