#eventImage{
    height: 300px;
    width: 300px;
    border-radius: 10%;
}

#eventsCard{
    border: none;
}

#eventTitle{
    color: black;
    font-size: 100%;
}

#favicon{
    width: 10px;
    margin-right: 2px;
}

#ratingText{
    font-size: 85%
}

#locationText{
    margin-left: 10px;
    font-size: 85%
}

#upvotesText{
    font-size: 85%;
    margin-left: 5px;
}

#reviewText{
    margin-left: 5px;
    font-size: 100%;
}